body img{
   height: 40vh;
   width: auto;

}

body{
   background-color: black;
}

*{
   margin: 0;
}

#nav{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: black;
   height: 6vh;
   color: white;

}

#input{
   width: 100%;
   background-color: rgb(234, 221, 221);
   display: flex;
   align-items: center;
   justify-content: center;
   height: 30vh;

}

#fields{
   gap: 3vh;
   display: flex;
   flex-direction: column;

}

#input select{
   width: 40vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

#joke-container{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: black;
   color: white;
   height: auto;
}

#weather{
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

@media (max-width:800px) {


   body img{
      height: auto;
      max-width: 100vw;
      min-width: 80vw;
   }

   
}