#body{
   display: flex;
   align-items: center;
   justify-content: center;
}

*{
   margin: 0;
}

#weather-box{
   display: flex;
   align-items: center;
   justify-content: center;
   width: auto;
   height: auto;
}


#weather-box h1{
   font-size: 5vw;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

#main{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: black;
   background-repeat: no-repeat;
   background-position: center;
   width: 100%;

}