#form_box {
    display: flex;
    flex-direction: column;
    background-color: blue;
    max-width: 30vw;
    padding: 3vw;
    border: 5px solid; /* Set border width */
    border-image: linear-gradient(90deg, #ff00cc, #3333ff) 1;
}