.maincontent{
   height: auto;
   margin-top: 6vh;
   padding-top: 10vh;
   padding-bottom: 1vh;
   width: 100vw;
   background-image: url("../images/mark-harpur-K2s_YE031CA-unsplash.jpg");
   background-position: center;
   border-image-repeat: none;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
}


body{
   background-color: #2c2580;
}

*{
   margin: 0;
}

.container{
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 80vw;
   height: 80%;
}

.main_title_container{
   background-color: #2c2580;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 2vw;
   width: auto;
   min-width: 60vw;
   height: 20%;
   border-radius: 50px 50px 0 0;
   padding: 10px;
}

.location_input_container{
   flex-direction: column;
   width:90%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.location_input_container input{
   width:100%;
   height: 30px;
   border-radius: 20px;
   padding-left: 20px;
   padding-right: 20px;
   display: flex;
}

#submit{
   background-color:#ffffff;
   color: rgb(0, 0, 0);
   width: auto;
   padding-left: 3vw;
   padding-right: 3vw;
   height: auto;
   font-size: 2vw;
   border-radius: 0 0 30px 30px;
}

#below-search{
   display: flex;
   align-items: center;
   justify-content: center;
   color: #2c2580;

   background-color: #2c2580;
   width: 78%;
   padding-left: 3vw;
   padding-right: 3vw;
   height: auto;
   font-size: 2vw;
   border-radius: 0 0 30px 30px;

}

.information_container{
   width: 90%;
   display: flex;
   justify-content: space-around;
   margin-top: 5%;
}

.information{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: #2c2580;
   color:  white;
   width: 20%;
   height: 10vw;
   border-radius: 10vw;
   font-size: 2vw;

}

.article_links{
   margin-top: 5vh;
   background-color: #2c2580;
   height: auto;
   width: auto;
   padding: 1vw;
   border-radius: 2vw;
   display: flex;
   align-items: center;
   justify-content: center;
}

.article_links a{
   font-size: 2vw;
   color: white;
   text-decoration: none;

   
}



@media (max-width:600px) {

   .maincontent{
      margin-top: 50vh;
   }
   .information_container{
      flex-direction: column;
      gap: 2vh;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .information{
      width: 100%;
      flex-direction: row;
      gap: 1vw;
   }
}